{% extends 'partials/base.html' %}
{% block title %}
  update profile
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Update profile</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ updateUserForm|crispy }}
          {{ updateProfileForm|crispy }}
          <input type="submit" class="w-100 btn btn-lg btn-primary" value="Update">
        </form>
      </div>
  </div>
</div>
    

{% endblock content %}
