{% extends 'partials/base.html' %}

{% block title %}
    My profile
{% endblock title %}
    
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% comment %} My posts {% endcomment %}
<div class="container">
  <div class="row text-center">
    <div class="col-md-4">Comments: {{ comments_count }}  Posts: {{ post_count }}</div>
    <div class="col-md-4">
      <img style="width: 45px;height: 45px;" class="rounded-circle" src="{{ user.profile.image.url }}">
      <div>
      <a class="" href="{{ user.profile.image_attribution }}"> 
        {% if user.profile.image_attribution_name %}
        Photo by: {{ user.profile.image_attribution_name }}
        {% endif %}   
       </a>
      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-md btn-primary" href="{% url 'update-profile' %}">update</a>
    </div>
  </div>
</div>

<hr>
<div class="container text-center">
  <h1 class="mt-10 text-4xl font-medium text-gray-700">
    {% if user.first_name and user.last_name %}
      {{ user.first_name }} {{ user.last_name }}
      {% else %}
      {{user.username}} 
    {% endif %}
    {% if user.profile.age %}
    <span class="font-light text-gray-500">{{ user.profile.age }}</span>
    {% endif %}
  </h1>
  {% if user.profile.city %}
  <p class="font-light text-gray-600 mt-3">{{ user.profile.city }}</p>

  {% endif %}

  {% if user.profile.occupation %}
  <p class="mt-8 text-gray-500">{{ user.profile.occupation }}</p>
  {% endif %}
  {% if user.profile.degree %}
  <p class="mt-2 text-gray-500">{{ user.profile.degree }}</p>
  {% endif %}
  
  <p>     
    {% if user.first_name and user.last_name %}
    My name is
      {{ user.first_name }} {{ user.last_name }}.
    {% endif %}
    {% if user.profile.age %}
    I'am {{ user.profile.age }} years old.
    {% endif %}
     {{ user.profile.about }}
  </p>
    
</div>

{% if posts %}
<div class="album py-5">
  <div class="container">
    {% if posts %}
      <h2>
        <h2 class="pb-2">My posts</h2>
      </h2>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for post in posts  %}
        <div class="col">
          <div class="card shadow-sm">
            {% comment %} <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> {% endcomment %}

            <div class="card-body">
              <p class="card-text">{{ post.content |truncatechars:57 }}</p>
              <div class="">
               
               {% if user.is_authenticated %}
                <div class="btn-group">
                  <a href="{% url 'details' post.id %}" type="button" class="btn btn-sm btn-outline-secondary">Read post</a>
                </div>
                {% endif %}
                <small class="text-muted">Posted by: {{ post.author }} <img style="width: 45px;height: 45px;" class="rounded-circle" src="{{ post.author.profile.image.url }}" alt=""></small><br>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% else %}
<h2 class="d-flex justify-content-center">You have not created any posts</h2>
{% endif %}




{% comment %} <div>

    <div class="p-8 bg-white shadow mt-24">
      
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
         
              <div>
               <p class="font-bold text-gray-700 text-xl">Comments</p>
            <p class="text-gray-400">{{ comments_count }}</p>
          </div>
          <div>
            <p class="font-bold text-gray-700 text-xl">Posts</p>
         <p class="text-gray-400">{{ post_count }}</p>
       </div>
        </div>
        
        <div class="relative">
          
          <div class="w-48 h-48 mx-auto absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
            <img style="width: 45px;height: 45px;" class="rounded-circle" src="{{ user.profile.image.url }}" alt="profile image">
          </div>
         <div> 
           
        </div>
        </div>
    
        <button class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
    <a href="{% url 'update-profile' %}" class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
      Update
        </a>
        
      </button>
      </div>
      <div class="mt-5 text-center">
       
        <a class="text-2xl font-medium text-gray-700" href="{{ user.profile.image_attribution }}"> 
          {% if user.profile.image_attribution_name %}
          Photo by: {{ user.profile.image_attribution_name }}
          {% endif %}   
         </a>

        
        <h1 class="mt-10 text-4xl font-medium text-gray-700">
          {% if user.first_name and user.last_name %}
          
            {{ user.first_name }} {{ user.last_name }}

            {% else %}
            {{user.username}} 
          {% endif %}
          {% if user.profile.age %}
          <span class="font-light text-gray-500">{{ user.profile.age }}</span>
          {% endif %}
        </h1>
        {% if user.profile.city %}
        <p class="font-light text-gray-600 mt-3">{{ user.profile.city }}</p>

        {% endif %}
    
        {% if user.profile.occupation %}
        <p class="mt-8 text-gray-500">{{ user.profile.occupation }}</p>
        {% endif %}
        {% if user.profile.degree %}
        <p class="mt-2 text-gray-500">{{ user.profile.degree }}</p>

        {% endif %}
      </div>
    
      <div class="mt-12 flex flex-col justify-center">
        <p class="text-gray-600 text-center font-light lg:px-16">
          
          {% if user.first_name and user.last_name %}
          My name is
            {{ user.first_name }} {{ user.last_name }}.
          {% endif %}
          {% if user.profile.age %}
          I'am {{ user.profile.age }} years old.
          {% endif %}
           {{ user.profile.about }}
        </p>

      </div>
    
    </div>
    </div>   
    </div>
  </div>

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
 
  <div> {% endcomment %}
    
{% if posts %}
  

      
<div class="d-flex justify-content-center">
  <nav aria-label="...">
    <ul class="pagination">
      {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page1={{ posts.previous_page_number }}" class="">
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}

      {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ i }}</span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" <a href="?page1={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}


        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page1={{ posts.next_page_number }}">Next</a>
          </li>
        {% endif %}
      
    </ul>
  </nav>
</div>
{% endif %}

{% if comments %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">My comment</th>
        <th scope="col">Blog post created by:</th>
        <th scope="col">Blog post:</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments  %}
      <tr>
        <td>{{ comment.post.title }}</td>
        <td>{{ comment.post.author }}</td>
        <td><a href="{% url 'details' comment.post.id %}">
          {{ comment.post.title }} 
        </a></td>

      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
<hr>
<div class="d-flex justify-content-center">
  <nav aria-label="...">
    <ul class="pagination">
      {% if comments.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page2={{ comments.previous_page_number }}" class="">
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}

      {% for i in comments.paginator.page_range %}
          {% if comments.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ i }}</span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" <a href="?page2={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}


        {% if comments.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page2={{ comments.next_page_number }}">Next</a>
          </li>
        {% endif %}
      
    </ul>
  </nav>
</div>

{% else %}
  <h2 class="d-flex justify-content-center">You have not created any comments</h2>
{% endif %}



{% endblock content %}




