{% extends 'partials/base.html' %}

{% block title %}
  login
{% endblock title %}

{% block content %}
      
{% load crispy_forms_tags %}

{% comment %} todo: center messages {% endcomment %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
      <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
          <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
            <div>
              <div 
                {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endif %}


<div class="container">
  <h2 class="text-center">Login</h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="post">
      {% csrf_token %}
      {{form | crispy}}
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          login
        </button>
        <div class="mb-5">
          <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </div> 
    </form></div>
  </div>
</div>
{% endblock content %}