{% extends 'partials/base.html' %}
{% block title %}
  posts
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
 
  <div class="max-w-md w-full space-y-8">


    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" value="Add post">
    </form>    
  </div>
</div>
{% endblock content %}
