{% extends "partials/base.html" %}
{% block title %}
  delete post
{% endblock title %}

{% block content %}
<div class="container">
  <h2 class="text-center">Delete</h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <a href="{% url 'details' post.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a>
      {% if post.author == request.user %}
        <a href="{% url 'update_post' post.id %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Update</a>
        <a href="{% url 'delete' post.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Delete</a>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        Are you sure want to delete this item ?
        <button type="submit" class="btn btn-primary" >Yes</button>
        <a  href="{% url 'posts'  %}" class="bg-yellow-500 hover:bg-yellow-700 text-white text-center py-2 px-4 rounded">Cancel </a>
    </form>               
    </div>
  </div>
</div>     
{% endblock content %}   