{% extends "partials/base.html" %}
{% block title %}
  delete post
{% endblock title %}

{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-10 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="mb-5 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            Delete
          </h2>
          <form method="post">

            {% csrf_token %}
            Are you sure want to delete this item ?
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded" >Yes</button>
            
            <a  href="{% url 'posts'  %}" class="bg-yellow-500 hover:bg-yellow-700 text-white text-center py-2 px-4 rounded">Cancel </a>
        </form>          
          <div class="flex">
            
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock content %}   