{% extends "partials/base.html" %}
{% block title %}
  Post detail | {{ post.title }}
{% endblock title %}
{% block content %}


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-10 mx-auto">
      
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
      
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          {% if messages %}
          <div class="messages">
              {% for message in messages %}
              <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                <div class="flex">
                  <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                  <div>
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
          
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
          {% endif %}
          <h2 class="mb-5 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            Details
          </h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ post.title }}</h1>
          <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Details</a>
            {% if post.author == request.user %}
              <a href="{% url 'update_post' post.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
              <a href="{% url 'delete' post.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Delete</a>
            {% endif %}
          </div>
          <p class="leading-relaxed mb-4">{{ post.content }}</p>
          
          <!-- <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900">$58.00</span>
            <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
            <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button>
          </div> -->
          {% if not post.author == request.user %}
            <h1>Add a comment</h1>
              {% load tailwind_filters %}
              <form method="post">
                  {% csrf_token %}
                  {{ form | crispy }}
                  <input type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" value="comment">
              </form>
          {% endif %}
        </div>

      </div>


    </div>
    
</section>
<hr>



<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      
      <div class="flex flex-col">
        <h2 class="mb-5 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
          Comments
        </h2>
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                
                  
                
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Commented by:
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Comment
                    </th>
                    
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  {% for post_comment in post.comments  %}
                   
                  
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                          <img class="h-10 w-10 rounded-full" src=" {{ post_comment.user.profile.image.url }}" alt="">
                        </div>
                        <div class="ml-4">
                          <div class="text-sm font-medium text-gray-900">
                            {{ post_comment.user.first_name }} {{ post_comment.user.last_name }}
                          </div>
                          {% if post_comment.user.email %}
                          {{ post_comment.user.email }}
                          {% endif %}
                          <div class="text-sm text-gray-500">
                            
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-900">{{ post_comment.content }}</div>
                    </td>
                    {% if post_comment.user == request.user or post.author == request.user %}
                      <td class="px-6 py-4 whitespace-nowrap">
                        <a href="{% url 'delete_comment' post_comment.id %}" class="bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded" >Delete</a>
                      </td>
                    {% endif %}

                   
                  </tr>
                  {% endfor %}
      
                  <!-- More people... -->
                </tbody>
                
              </table>
              
            </div>
          </div>
        </div>
      </div>

      </div>
      
    </div>


  </div>
  
</section>
{% endblock content %}


