{% extends "partials/base.html" %}
{% block title %}
  {{ post.title }}
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% comment %} messages {% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
</div>

<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<div>
  {% if post.author == request.user %}
    <a href="{% url 'update_post' post.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update post</a>
    <a href="{% url 'delete' post.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Delete post</a>
  {% endif %}
</div>


{% if not post.author == request.user %}
  <h1>Add a comment</h1>
  <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-primary">Add comment</button>
  </form>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Commented by:</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for post_comment in post.comments  %}
    <tr>
      <td>{{ post_comment.user.username }}</td>
      <td>{{ post_comment.content }}</td>
      {% if post_comment.user == request.user or post.author == request.user %}
        <td>
          <a class="btn btn-danger" href="{% url 'delete_comment' post_comment.id %}"  >Delete</a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
    
  </tbody>
</table>             
{% endblock content %}


